# Merged rc file for hormoz (was: init.recovery.ldconfig.rc, init.recovery.hlthchrg.rc,
# init.custom.rc, android.hardware.boot@1.0/1.1/1.2-service.rc,
# android.hardware.health@2.0/2.1-service.rc, init.recovery.logd.rc)
# Only ever imported by init.recovery.mt6897.rc, so safe to combine.

# --- init.recovery.ldconfig.rc ---
on fs
    export LD_CONFIG_FILE /system/etc/ld.config.txt

# --- init.recovery.hlthchrg.rc (charger for Android 8.0 and up) ---
service charger /charger -r
    critical
    seclabel u:r:charger:s0

# --- init.custom.rc ---
on boot
#Added Manual For Trustonic
   mkdir /mnt/vendor/persist
   mount ext4 /dev/block/by-name/persist /mnt/vendor/persist rw

# --- android.hardware.boot@1.0-service.rc ---
service boot-hal-1-0 /system/bin/android.hardware.boot@1.0-service
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib
    disabled
    seclabel u:r:recovery:s0

# --- android.hardware.boot@1.1-service.rc ---
service boot-hal-1-1 /system/bin/android.hardware.boot@1.1-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

# --- android.hardware.boot@1.2-service.rc ---
service boot-hal-1-2 /system/bin/android.hardware.boot@1.2-service
    interface android.hardware.boot@1.0::IBootControl default
    interface android.hardware.boot@1.1::IBootControl default
    interface android.hardware.boot@1.2::IBootControl default
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    disabled
    seclabel u:r:recovery:s0

# --- android.hardware.health@2.0-service.rc ---
service health-hal-2-0 /system/bin/android.hardware.health@2.0-service
    disabled
    user root
    group root
    capabilities WAKE_ALARM
    file /dev/kmsg w
    seclabel u:r:recovery:s0

# --- android.hardware.health@2.1-service.rc ---
service health-hal-2-1 /system/bin/android.hardware.health@2.1-service
    disabled
    user root
    group root
    capabilities WAKE_ALARM
    file /dev/kmsg w
    seclabel u:r:recovery:s0

# --- init.recovery.logd.rc ---
on init
    start logd

service logd /system/bin/logd
    class core
    socket logdr seqpacket 0666 root root
    socket logdw dgram+passcred 0222 root root
    file /proc/kmsg r
    file /dev/kmsg w
    user root
    group root
    capabilities SYSLOG AUDIT_CONTROL SETGID SETUID
    seclabel u:r:logd:s0
